body#tinymce.wp-editor {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
}

body#tinymce.wp-editor a { color: #1abc9c; }
body#tinymce.wp-editor a:hover { color: #1abc9c; }

/* Titles */

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	color: #444;
	line-height: 120%;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3 {
	font-weight: 700;
}

body#tinymce.wp-editor h1 { font-size: 2em; }
body#tinymce.wp-editor h2 { font-size: 1.75em; }
body#tinymce.wp-editor h3 { font-size: 1.5em; }
body#tinymce.wp-editor h4 { font-size: 1.25em; }
body#tinymce.wp-editor h5 { font-size: 1.1em; }

/* Blockquote */

body#tinymce.wp-editor blockquote {
	padding: 1.1em;
	line-height: 150%;
	color: #666;
	background: #EEE;
	font-family: 'Raleway', 'Helvetica Neue', sans-serif;
}

body#tinymce.wp-editor blockquote p:first-child { margin-top: 0; }
body#tinymce.wp-editor blockquote p:last-child { margin-bottom: 0; }

body#tinymce.wp-editor cite {
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 140%;
	color: #666;
	font-style: normal;
}

body#tinymce.wp-editor cite:before { content: "— "; }

body#tinymce.wp-editor blockquote cite {
	display: block;
	margin-top: 1em;
	font-size: 0.8em;
}

body#tinymce.wp-editor blockquote cite em { font-style: italic; font-weight: bold; }

/* Post Media */

body#tinymce.wp-editor .alignright { margin-left: 20px; }

body#tinymce.wp-editor .alignleft { margin-right: 20px; }

body#tinymce.wp-editor .wp-caption {
	padding: 0;
	border: none;
	background: none;
}

body#tinymce.wp-editor .wp-caption-dd {
	font-size: 0.85em;
	padding-top: 0.5em;
	color: #888;
	text-align: center;
	padding: 10px 0;
}

/* Tables */

body#tinymce.wp-editor table {
	border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 1.1em;
    border: none;
}

body#tinymce.wp-editor th,
body#tinymce.wp-editor td {
	font-family: 'Lato', Helvetica, sans-serif;
	padding: 2%;
	margin: 0;
	overflow: visible;
	line-height: 120%;
	border: none;
	border-bottom: 1px solid #DDD;
	font-size: 1em;
}

body#tinymce.wp-editor caption {
	color: #444;
	text-align: center;
	padding: 2%;
}

body#tinymce.wp-editor thead {
	vertical-align: bottom;
	white-space: nowrap;
}

body#tinymce.wp-editor th {
	font-weight: bold;
	color: #444;
}

body#tinymce.wp-editor table tbody > tr:nth-child(odd) > td { background: #f9f9f9; }
