.awsm-social-icons a:hover {
  text-decoration: none !important;
}

.cards-style.style-1 {
  .awsm-modal-items-main {
  	max-width: 900px;
  	margin: 0 auto;
  	height: 100%;
  	position: relative;
  	width: 100%;
  }
}

.awsm-modal-on.awsm-modal-items.cards-style.style-1 {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.4s, visibility 0.5s;
	-webkit-transition: opacity 0.4s, visibility 0.5s;
	-moz-transition: opacity 0.4s, visibility 0.5s;
}

.cards-style.style-1 .awsm-modal-item {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1;
	padding: 30px 0;
	font-size: 0;
}

.cards-style.style-1 .awsm-modal-open.awsm-modal-item {
	z-index: 2;
}

.cards-style.style-1 .awsm-modal-item::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 1px;
}

.cards-style.style-1 .awsm-modal-content {
	position: relative;
	margin: 0 auto;
	text-align: left;
	vertical-align: middle;
	background: #fff;
	padding: 50px;
	display: inline-block;
	width: -webkit-calc(100% - 1px);
	width: -moz-calc(100% - 1px);
	width: calc(100% - 1px);
	max-height: 100%;
	opacity: 0;
}

.cards-style.style-1 .awsm-modal-closing .awsm-modal-content{
	opacity: 1;
	visibility: visible;
	-webkit-animation-duration: 0.5s;
	   -moz-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-name: animateTeamModalOut;
	   -moz-animation-name: animateTeamModalOut;
	        animation-name: animateTeamModalOut;
}

.cards-style.style-1 .awsm-modal-open .awsm-modal-content {
	-webkit-animation-duration: 0.5s;
	   -moz-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-name: animateTeamModalIn;
	   -moz-animation-name: animateTeamModalIn;
	        animation-name: animateTeamModalIn;
	-webkit-animation-delay: 0.3s;
	   -moz-animation-delay: 0.3s;
	        animation-delay: 0.3s;
	-webkit-animation-fill-mode: forwards;
	   -moz-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}

.cards-style.style-1 .awsm-modal-content-main {
	height: 100%;
	font-size: 14px;
}

.cards-style.style-1 .awsm-image-main {
	float: left;
	max-width: 300px;
	margin-right: 40px;
}

.cards-style.style-1 .awsm-image-main img {
	max-width: 100%;
	height: auto;
}

.cards-style.style-1 .awsm-modal-details {
	overflow: hidden;
	color: #111;
}

.cards-style.style-1 .awsm-modal-content-inner {
	padding-right: 25px;
}

.cards-style.style-1 .awsm-modal-details a,
.cards-style.style-1 .awsm-modal-details .awsm-team-link-control {
	color: #111;
}

.cards-style.style-1 .awsm-modal-details h3 {
	font-size: 14px;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
}

.cards-style.style-1 .awsm-modal-details h2 {
	font-size: 36px;
	margin: 0 0 20px;
	line-height: 1.42;
}

.cards-style.style-1 .awsm-modal-details .awsm-contact-details {
	margin: 0;
	padding: 20px 0;
}

.cards-style.style-1 .awsm-modal-details .awsm-social-icons span {
	padding: 0;
	border: 1px solid;
	margin: 0 5px 2px 5px;
	text-align: center;
}

.cards-style.style-1 .awsm-modal-details .awsm-social-icons a {
	padding: 10px 0;
	width: 40px;
}

.cards-style.style-1 .awsm-modal-close {
	position: absolute;
	width: 25px;
	height: 25px;
	top: 15px;
	right: 15px;
	cursor: pointer;
	z-index: 100;
}

.cards-style.style-1 .awsm-modal-close::before,
.cards-style.style-1 .awsm-modal-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
}

.cards-style.style-1 .awsm-modal-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	    transform: rotate(-45deg);
}

.cards-style.style-1 .awsm-modal-close:hover::before,
.cards-style.style-1 .awsm-modal-close:hover::after {
	opacity: 0.8;
}

.cards-style.style-1 .awsm-nav-item {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: -70px;
	margin-top: -20px;
	cursor: pointer;
	color: #fff;
	font-size: 40px;
}

.cards-style.style-1 .awsm-nav-right {
	left: auto;
	right: -70px;
}

.cards-style.style-1 .awsm-nav-item:hover,
.style-1 .awsm-nav-item:focus {
	color: #fff;
	opacity: 0.8;
	outline: none;
}

.cards-style.style-1 .awsm-nav-item::after {
	content: "\e610";
	font-family: 'awsmicon';
}

.cards-style.style-1 .awsm-nav-right::after {
	content: "\e611";
}

@media screen and (max-width:830px) {

	.cards-style.style-1 .awsm-modal-item {
		padding-top: 50px;
	}

	.cards-style.style-1 .awsm-modal-content {
		padding: 50px 15px;
		overflow: auto;
	}

	.cards-style.style-1 .awsm-modal-content-inner {
		padding-right: 0;
	}

	.cards-style.style-1 .awsm-nav-item {
		top: 15px;
		left: 15px;
		font-size: 20px;
		width: 25px;
		height: 25px;
		line-height: 25px;
		margin-top: 0;
		z-index: 1000;
	}

	.cards-style.style-1 .awsm-nav-item.awsm-nav-right {
		left: 50px;
		right: auto;
	}

	.cards-style.style-1 .awsm-image-main {
		float: none;
		margin: 0 0 30px;
		width: 100%;
		max-width: 100%;
	}

}

html[dir='rtl'] .cards-style.style-1 .awsm-image-main{
	float: right;
	margin-right: 0;
	margin-left: 40px;
}

html[dir='rtl'] .cards-style.style-1 .awsm-modal-content{
	text-align: right;
}
@media screen and (max-width: 830px){
	html[dir='rtl'] .cards-style.style-1 .awsm-image-main{
		float: none;
		margin: 0 0 30px;
	}
}
