.simcal-calendar-list > .simcal-events-list-container > div:first-child > .simcal-events > .simcal-event:first-child .calendar-event {
  padding-top: 0;
  border-top: none;
}

.simcal-events > .simcal-event:first-child {
  border-top: none;
}

.simcal-default-calendar-list ul.simcal-events {
  margin: 0 !important;

  & > li.simcal-event {
    padding: 0;
    margin-bottom: 0 !important;
  }
}

.calendar-event {
  font-size: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;

  .simcal-event-title {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .event-description {
    text-align: justify;
  }

  .event-summary, .simcal-event-description, .simcal-event-description > p, .event-urls {
    margin-bottom: 0.5rem !important;
  }
}
