aside#moove_gdpr_cookie_info_bar {
  font-family: "Lato", sans-serif;
  padding: 1rem 1.5rem;

  div.moove-gdpr-info-bar-container {
    @extend .container;
    width: 100%;
    padding: 0;

    div.moove-gdpr-info-bar-content {
      display: flex;
      justify-content: space-between;
      padding: 0;

      div.moove-gdpr-cookie-notice {
        flex-grow: 1;
        text-align: center;
        padding: 0;
      }

      div.moove-gdpr-button-holder {
        padding: 0 0 0 1.5rem;
      }

      @include mobile {
        & {
          flex-direction: column;
          justify-content: center;

          div.moove-gdpr-cookie-notice {
            margin: 0 0 0.5rem 0;
          }

          div.moove-gdpr-button-holder {
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
          }
        }
      }
    }
  }
}
