$button-border-width: $control-border-width !default
$button-padding-vertical: calc(0.375em - #{$button-border-width}) !default
$button-padding-horizontal: 0.75em !default
$button-focus-box-shadow-size: 0 0 0 0.125em !default

.button
  @extend %control
  @extend %unselectable
  background-color: $primary
  border-color: transparent
  border-width: $button-border-width
  color: #fff
  cursor: pointer
  justify-content: center
  padding: $button-padding-vertical $button-padding-horizontal
  text-align: center
  white-space: nowrap
  strong
    color: inherit
  &:hover,
    background-color: darken($primary, 2.5%)
    border-color: transparent
    color: #fff
    text-decoration: none
  &:focus,
    border-color: transparent
    color: #fff
    &:not(:active)
      box-shadow: $button-focus-box-shadow-size rgba($primary, 0.25)
  &:active,
    background-color: darken($primary, 5%)
    border-color: transparent
    color: #fff
  &.is-outlined
    background-color: transparent
    border-color: $primary
    color: $primary
    &:hover,
    &:focus,
      background-color: $primary
      border-color: $primary
      color: #fff
