.banners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & > a {
    display: inline-block;
    margin: 0.5rem 1rem !important;
  }
}

.horizontal-banner > img {
  max-height: 5.25rem;
}

.square-banner > img {
  max-width: 17.5rem;
  width: 100%;
}
