@charset "utf-8";
@import "~bulma/sass/utilities/_all";

$body-background-color: #fff;
$body-color: #444;
$body-family: 'Lato', sans-serif;
$link: #1abc9c;
$link-hover: darken($link, 5%);
$link-focus-border: $link;
$link-active-border: $link;
$pagination-item-margin: 0.2rem;

$primary: #1abc9c;

$navbar-padding-vertical: 1rem;
$navbar-item-color: rgba(255, 255, 255, 0.5);
$navbar-item-hover-color: #ffffff;
$navbar-item-hover-background-color: #1d1d1d;
$navbar-item-active-color: #ffffff;
$navbar-item-active-background-color: #1d1d1d;
$navbar-background-color: #1d1d1d;
$navbar-dropdown-arrow: rgba(255, 255, 255, 0.5);
$navbar-dropdown-background-color: #1d1d1d;
$navbar-dropdown-arrow: rgba(255, 255, 255, 0.5);
$navbar-dropdown-radius: 0;
$navbar-dropdown-boxed-radius: 0;
$navbar-dropdown-item-hover-color: #ffffff;
$navbar-dropdown-item-hover-background-color: #1d1d1d;
$navbar-dropdown-item-active-color: #ffffff;
$navbar-dropdown-item-active-background-color: #1d1d1d;
$navbar-divider-background-color: rgba(255, 255, 255, 0.5);
$navbar-breakpoint: $tablet;

@import "~bulma/sass/base/minireset";
@import "~bulma/sass/base/generic";
@import "bulma-override/elements/button";
@import "bulma-override/elements/container";
@import "~bulma/sass/elements/table";
@import "bulma-override/layout/section";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/pagination";
