.pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 16777271;
    -webkit-text-size-adjust: 100%;
    /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: none;
}

.lity-hide {
    display: none
}

.simcal-calendar {
    position: relative
}

.simcal-default-calendar .simcal-events {
    list-style: none;
    margin-left: 0
}

.simcal-default-calendar .simcal-ajax-loader {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.simcal-default-calendar-dark .simcal-ajax-loader {
    background-color: rgba(255,255,255,.1)
}

.simcal-default-calendar-list {
    min-height: 100px;
    padding: 10px 0;
    text-align: left
}

.simcal-default-calendar-list ul.simcal-events {
    margin: 10px 14px 0
}

.simcal-default-calendar-list ul.simcal-events li.simcal-event {
    list-style-type: none;
    margin-bottom: 10px;
    word-wrap: break-word
}

.simcal-default-calendar-list .simcal-event-details {
    font-size: .84em;
    line-height: 1.5;
    overflow: hidden
}

.simcal-default-calendar-list .simcal-event-details .simcal-event-description,.simcal-default-calendar-list .simcal-event-details p {
    margin: 0 0 1em
}
