.footer {
	background-color: #1d1d1d;
  padding: 2rem 1.5rem;
  color: #858585;
}

.credits {
	font-size: 0.8125rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: flex;
	justify-content: space-between;
}

.credits, .credits a {
	color: #858585;
}

@include touch {
  .credits span {
    display: none;
  }
}

.tothetop:hover {
  cursor: pointer;
}

img#wpstats {
  display: none;
}
