@import '~bulma/sass/utilities/initial-variables.sass';

.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-position: center top;
  background-repeat: no-repeat;

  @include mobile {
    height: 300px;
  }

  @include tablet {
    height: 400px;
  }

  @media screen and (min-width: 1921px) {
    background-size: cover;
  }
}

.header-inner {
  display: flex;
  align-items: center;
}

.blog-logo {
  max-height: 150px;

  & > img {
    height: 150px;
  }
}

.logo-pttk {
  max-height: 140px;

  & > img {
    height: 140px;
  }
}

@include tablet {
  .header-inner {
    justify-content: space-between;
    padding: 2rem;
  }

  .motto {
    display: inline-block;
    color: white;
    font-size: 1.125rem;
    line-height: 1.16;
    margin-right: 1.5rem;

    &--content {
      font-style: italic;
      margin-bottom: 0.5rem;
    }

    &--author {
      text-align: right;
    }
  }
}

@include mobile {
  .header-inner {
    justify-content: center;
  }

  .logo-pttk, .motto {
    display: none;
  }
}
