@charset "UTF-8";

/*---------------------------------------------------------------------------------

	1. Document Setup
	2. Main Content
	3. Post Content
	4. Page & Page Templates
	5. Sidebar
	6. Responsive

----------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	1. Document setup
/* -------------------------------------------------------------------------------- */

.screen-reader-text {
       clip: rect(1px, 1px, 1px, 1px);
       position: absolute !important;
       height: 1px;
       width: 1px;
       overflow: hidden;
}

.screen-reader-text:focus {
       background-color: #f1f1f1;
       border-radius: 3px;
       box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
       clip: auto !important;
       color: #21759b;
       display: block;
       font-size: 14px;
       font-size: 0.875rem;
       font-weight: bold;
       height: auto;
       left: 5px;
       line-height: normal;
       padding: 15px 23px 14px;
       text-decoration: none;
       top: 5px;
       width: auto;
       z-index: 100000; /* Above WP toolbar. */
}

/* -------------------------------------------------------------------------------- */
/*	2. Main content
/* -------------------------------------------------------------------------------- */

#content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1.5rem;

  @include mobile {
    grid-template-columns: minmax(1px, 1fr);
  }

  @include tablet {
    & > div:only-child {
      grid-column-end: span 2;
    }
  }
}

#sidebar {
  @include mobile {
    padding-top: 1.5rem;
    border-top: 4px solid #EEE;
    margin-top: 1.5rem;
  }
}

.post,
.page {
	padding-bottom: 2.5rem;
	border-bottom: 4px solid #EEE;
	margin-bottom: 2rem;
}

.single-post .post,
.page .post,
.post:last-child,
.page:last-child { padding-bottom: 0; border-bottom: 0; margin-bottom: 0; }


/* Featured media --------------------------------------- */


.featured-media {
	position: relative;
	display: block;
	margin-bottom: 1rem;
}

.featured-media a,
.featured-media img { display: block; }

.featured-media img {
	border-radius: 4px;
	margin: 0 auto;
}

.featured-media iframe {
	display: block;
	border: none;
	max-width: 100%;
	height: auto;
}

.featured-media .sticky-post {
	position: absolute;
	top: 5%;
	right: 0;
	padding: 8px 10px;
	border-radius: 3px 0 0 3px;
	background: #1abc9c;
	color: #FFF;
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 10;
}

.media-caption-container {
	position: absolute;
	width: 95%;
	margin-left: 2.5%;
	bottom: 1.5em;
	text-align: center;
	font-size: 0.85em;
}

.media-caption {
	display: inline-block;
	padding: 7px 11px;
	border-radius: 3px;
	background: #262626;
	background: rgba(38,38,38,0.75);
	color: #FFF;
	text-align: center;
	line-height: 130%;
}

.media-caption:hover {
	background: #262626;
	color: #FFF;
}


/* Post header --------------------------------------- */

.post-header {
  font-size: 1.1rem;
	margin-bottom: 1.25rem;

  .post-title {
    font-size: 2.5em;
    margin: 0;

	word-break: break-word;

    & > a {
      color: #444;

      &:hover {
        color: $link-hover;
      }
    }
  }

  .post-meta {
  	color: #999;
  	font-size: 0.9rem;
  	letter-spacing: 1px;
  	text-transform: uppercase;
    margin: 0.375rem 0 0 0;

    & > *:not(:last-child):after {
      content: '/';
      color: #ddd;
      margin: 0 0 0 5px;
    }

    & a {
      color: #999;

      &:hover {
        color: $link-hover;
      }
    }
  }
}

/* -------------------------------------------------------------------------------- */
/*	3. Post Content
/* -------------------------------------------------------------------------------- */

.post-content {
	font-size: 1.1rem;
}

.post-content > *:first-child { margin-top: 0; }
.post-content *:last-child { margin-bottom: 0; }


/* Content Typography --------------------------------------- */

.post-content a {
	word-break: break-word;
}

.post-content p,
.post-content blockquote,
.post-content ul,
.post-content ol,
.post-content address,
.post-content dl,
.post-content pre {
	margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
	font-size: 2em;
  margin: 0 0 0.5em 0;

  &:not(:first-child) {
    margin: 1em 0 0.5em 0;
  }
}

h2 {
	font-size: 1.75em;
  margin: 0 0 0.5714em 0;

  &:not(:first-child) {
    margin: 1.1428em 0 0.5714em 0;
  }
}

h3 {
	font-size: 1.5em;
  margin: 0 0 0.6666em 0;

  &:not(:first-child) {
    margin: 1.3333em 0 0.6666em 0;
  }
}

h4 {
	font-size: 1.25em;
  margin: 0 0 0.8em 0;
}

h5 {
	font-size: 1.125em;
  margin: 0 0 0.8888em 0;
}

h6 {
	font-size: 1em;
  margin: 0 0 1em 0;
}

p.has-drop-cap:not(:focus):first-letter {
    font-size: 5.95em;
    font-weight: 400;
}

.post-content big { font-size: 1.25em; }

abbr, acronym { cursor: help; }

code, kbd, pre {
	font-size: 0.85em;
	background: #EEE;
	font-family: Menlo, Monaco, monospace;
}

.post-content .highlight {
	background: #fcf8a5;
	display: inline;
	padding: 2px 3px;
}

.post-content kbd,
.post-content code {
	padding: 5px;
	border-radius: 3px;
}

.post-content dl { line-height: 160%; }

.post-content dl dt { font-weight: bold; }

.post-content hr,
hr.wp-block-separator {
	background: #eee;
	border: none;
	color: #888;
	height: 4px;
	margin: 2em auto;
	width: 50%;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: none;
	width: 50%;
}

.wp-block-separator.is-style-wide {
	width: 100%;
}

.wp-block-separator.is-style-dots {
	background: none;
	height: auto;
}

.wp-block-separator.is-style-dots:before {
	color: inherit;
}

.post-content ul {
	list-style: disc;
	margin-left: 1.5em;
}

.post-content ul ul { list-style: circle; }
.post-content ul ul ul { list-style: square; }

.post-content ol {
	list-style: decimal;
	margin-left: 1.5em;
}

.post-content ol ol { list-style: lower-alpha; }
.post-content ol ol ol {
	list-style: lower-roman;
}

.post-content ul ul,
.post-content ul ol,
.post-content ol ul,
.post-content ol ol {
	margin-bottom: 0;
}

.post-content li {
	margin-bottom: 0.5em;
	line-height: 1.4;
}

.post-content li ol li:first-child,
.post-content li ul li:first-child {
	margin-top: 0.5em;
}

.post-content ol > li:last-child,
.post-content ul > li:last-child {
	margin-bottom: 0;
}

.post-content address {
	padding: 3% 3.5%;
	background: #F1F1F1;
}

.post-content pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	line-height: 140%;
	padding: 2% 2.5%;
	background: #f1f1f1;
}


/* Post Quotes --------------------------------------- */


.post-content blockquote {
	background: #EEE;
	color: #666;
	font-family: 'Raleway', 'Helvetica Neue', sans-serif;
	line-height: 150%;
	padding: 1.1em;
}

.post-content cite {
	color: #666;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 140%;
	text-transform: uppercase;
}

.post-content cite:before { content: "— "; }

.post-content blockquote cite {
	display: block;
	font-size: .8em;
	margin-top: 1em;
}

em, q { font-style: italic; }

.post-content blockquote cite em,
.post-content strong em,
.post-content em strong {
	font-style: italic;
	font-weight: bold;
}

.post-content .wp-block-pullquote {
	background: transparent;
	border-bottom: 4px solid #444;
	border-top: 4px solid #444;
	margin: 2em 0;
	padding: 3em 0;
	text-align: center;
}

.post-content .wp-block-pullquote blockquote {
	background: transparent;
	margin: 0;
	padding: 0;
}

.post-content .wp-block-pullquote p {
	line-height: 1.5;
}

.post-content .wp-block-pullquote.alignleft,
.post-content .wp-block-pullquote.alignright {
	margin-bottom: 1em;
	margin-top: 0;
	padding: 1em 0;
}

.post-content .wp-block-pullquote cite,
.post-content .wp-block-pullquote p {
	text-align: inherit;
}

.post-content .wp-block-pullquote cite:before {
	content: none;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-size: 1.2em;
	font-style: normal;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
	font-size: .9em;
}


/* Post Media --------------------------------------- */


.post-content .wp-caption {
	line-height: 1.4;
	margin-bottom: 1.1em;
	max-width: 100%;
}

.wp-block-image {
	margin: 0 0 1.1em 0;
}

.wp-caption a,
.wp-caption img { display: block; }

.wp-block-image img,
img.alignleft,
.alignleft img,
img.aligncenter,
.aligncenter img,
img.alignright,
.alignright img {
	padding: 5px;
	border: 1px solid #EEE;
}

.post-content .alignwide,
.post-content .alignfull {
	margin: 2em 0 2em -5%;
	max-width: none;
	width: 110%;
}

.post-content .alignleft,
.post-content .alignright {
	margin-bottom: 1.2em;
	max-width: 40%;
}

.post-content .wp-caption .alignleft,
.post-content .wp-caption .alignright {
	margin-bottom: 0;
}

.post-content .alignleft {
	float: left;
	margin-right: 1em;
}

.post-content .alignright {
	float: right;
	margin-left: 1em;
}

.post-content .aligncenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.post-content .wp-caption-text,
.post-content .gallery-caption,
.post-content .wp-block-image figcaption,
.post-content figcaption {
	color: #888;
	display: block;
	font-size: .85em;
	font-style: italic;
	padding-top: .5em;
	text-align: center;
	width: 100%;
}

.post-content .wp-caption-text a,
.post-content .gallery-caption a {
	display: inline;
}

.post-content .gallery-caption {
	font-size: 16px;
	line-height: 24px;
}

.post-content ul.wp-block-gallery {
	list-style: none;
}

.post-content ul.wp-block-gallery:not(.alignwide) {
	margin-left: 0;
}

.post-content .wp-block-gallery > li:last-child {
	margin-bottom: 16px;
}

.wp-block-gallery img {
	border: none;
	padding: 0;
}


/* File Block --------------------------------------- */

.wp-block-file {
	align-items: center;
	border: 1px solid #eee;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.wp-block-file a:not(.wp-block-file__button) {
	color: inherit;
	font-weight: 700;
}

.post-content a.wp-block-file__button {
	background: #1abc9c;
	border-radius: 4px;
	color: #fff;
}


/* Button Block --------------------------------------- */

.wp-block-button .wp-block-button__link {
	border-radius: 4px;
	font-size: 0.9em;
	line-height: 1.1;
	padding: 16px 18px;
}


/* Tables --------------------------------------- */

.post-content figure.wp-block-table {
  border-bottom: 0;

  & > table {
    @extend .table;
    tbody tr:not(.is-selected):hover {
      background-color: $table-row-hover-background-color;
    }

    th, td {
      border-color: #dbdbdb !important;
    }

    tfoot > tr > td {
      font-weight: 700;
      border-bottom-width: 0;
    }
  }
}

.post-content figure.wp-block-table.is-style-stripes > table {
  & > tbody > tr:nth-child(2n+1) {
    background-color: transparent;
  }

  & > tbody tr:not(.is-selected):hover {
    background-color: $table-row-hover-background-color;
    &:nth-child(even) {
      background-color: $table-striped-row-even-hover-background-color;
    }
  }
  @extend .table.is-striped;
}


/* -------------------------------------------------------------------------------- */
/*	5. Page & Page Templates
/* -------------------------------------------------------------------------------- */


/* Archives template --------------------------------------- */


.archive-col { font-size: 0.9em; }

.page-template-template-archives-php .post-content ul {
	margin-left: 0;
	list-style: none;
}

.page-template-template-archives-php .post-content ul li { margin-bottom: 0; line-height: 130%; }

.page-template-template-archives-php .post-content ul li a {
	display: block;
	border-bottom: 1px solid #EEE;
	padding: 8px 0;
}

.page-template-template-archives-php .post-content ul li:last-child a { border-bottom: none; }

.page-template-template-archives-php .post-content ul.children li:first-child a { border-bottom: 1px solid #EEE; }

.page-template-template-archives-php .post-content ul li a span { color: #999; }

.page-template-template-archives-php .post-content ul li a:hover {
	text-decoration: none;
	color: #666;
}

.page-template-template-archives-php .post-content ul li a:hover {
	background-color: #F9F9F9;
	padding-left: 12px;
}


/* -------------------------------------------------------------------------------- */
/*	5. Sidebar
/* -------------------------------------------------------------------------------- */


.widget {
	margin-bottom: 1.5rem;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget-title {
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
	color: #444;
}

/* widget-content */

.widget-content {
	color: #555;
	font-size: 1rem;
	line-height: 1.2;

	h2 {
		font-size: 1em;
		text-transform: uppercase;
	}
}

.widget-content *:last-child {
	margin-bottom: 0;
}

.widget-content p {
  font-size: 1rem;
	text-align: justify;
	margin-bottom: 1rem;
	line-height: 1.2;
}

.widget-content ul li {
	padding: 10px 0;
	border-top: 1px solid #EEE;
	line-height: 1.2;
}

.widget-content li ul > li:first-child { margin-top: 10px; }
.widget-content .page_item_has_children { padding-bottom: 0; }

.widget-content li ul li { padding-left: 15px; }

.widget-content ul li .post-date { margin-left: 5px; color: #999; }

.widget-content > ul > li:first-child { border-top: 0; }


/* -------------------------------------------------------------------------------- */
/*	6. Responsive
/* -------------------------------------------------------------------------------- */

@media ( max-width: 800px ) {

	/* Post Content --------------------------------------- */

	.post-content .alignfull,
	.wp-block-cover-image {
		margin: 2.5em 0;
		max-width: 100vw;
		position: relative;
			left: calc( 50% - 50vw );
		width: 100vw;
	}

	.wp-block-image.alignfull img {
		border: none;
		padding: 0;
	}

	.post-content .alignwide {
		margin-left: 0;
		position: relative;
			left: calc( 50% - 50vw + 20px );
		width: calc( 100vw - 40px );
	}
}

@media ( max-width: 700px ) {

	/* Main content --------------------------------------- */

	.post:last-child { padding-bottom: 0; border-bottom: none; margin-bottom: 0; }

	/* Post Content --------------------------------------- */

	.post-content {
		font-size: 1.1rem;
	}

	.widget {
		margin-bottom: 40px;
		border-bottom: 4px solid rgba(255,255,255,0.1);
		padding-bottom: 40px;
	}
}

@media ( max-width: 500px ) {

	/* Post --------------------------------------- */

	.post-author { display: none; }

	.media-caption-container {
		position: static;
		top: auto;
		left: auto;
		width: 100%;
		margin: -3px 0 0 0;
	}

	.media-caption {
		padding: 10px;
		border-radius: 0 0 4px 4px;
		background: #EEE;
		color: #666;
		width: 100%;
	}

	.media-caption:hover { background: #EEE; color: #666; }

	/* Post Content --------------------------------------- */

	.post-content .alignleft,
	.post-content .alignright {
		float: none;
		max-width: 100%;
		margin: 0 auto 1.2em auto;
	}

	.post-content .alignleft img,
	.post-content .alignright img {
		display: block;
		margin: 0 auto;
	}
}
