.navbar {
  &.is-fixed-top {
    z-index: 10000;
  }

  @include mobile {
    & > .container {
      display: flex;
    }

    & .navbar-brand {
      flex-grow: 1;

      & > a.brand {
        display: none;
      }
    }

    & .navbar-menu {
      position: absolute;
      top: $navbar-height;
      width: 100%;
    }

    & .navbar-dropdown {
      display: none;
      &.is-expanded {
        display: block;
      }
    }
  }

  & .navbar-brand > a.navbar-burger {
    margin: 0 auto 0 0;

    &:hover {
      color: #fff;
    }
  }

  & .navbar-item,
  & .navbar-link {
    font-size: 0.8125rem;
    text-transform: uppercase;
  }

  .navbar-menu > .navbar-start {
    margin: 0 auto;

    & > a.navbar-item,
    & > div.navbar-item > a.navbar-link {
      padding: 1rem 1.25rem;
      transition: unset;

      &:hover::before {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    @include tablet {
      & > :not(:first-child)::before {
        content: "/";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        font-size: 1rem;
        font-weight: 300;
        margin: -0.75rem 0 0 -0.1875rem;
        z-index: 10;
      }

      & > .navbar-item.has-dropdown {
        & > .navbar-dropdown > .navbar-item.has-dropdown {
          & > .navbar-dropdown {
            display: inline-block;
            top: 0;
            left: 100%;
          }
          &:not(:hover) > .navbar-dropdown {
            display: none;
          }
        }
      }
    }

    & > div.navbar-item.has-dropdown > a.navbar-link {
      display: inline-flex;
      align-items: center;
      padding-right: 2rem;

      &:hover::after {
        border-color: #ffffff;
      }
    }

    & > div.navbar-item > a.navbar-link:not(.is-arrowless)::after {
      top: 1.5rem;
      right: 1rem;
    }

    @include touch {
      & > div.navbar-item > a.navbar-link:not(.is-arrowless)::after {
        transform: rotate(-135deg);
        top: 1.5rem;
        right: 1.125rem;
      }

      & > div.navbar-item.has-dropdown > div.navbar-dropdown > a.menu-item {
        padding-left: 1.5rem;
      }
    }
  }

  .navbar-dropdown {
    padding: 0;
    border: 0;
    min-width: 15rem;

    @include touch {
      margin: 0 0 0 1.25rem;
    }

    @include tablet {
      & > div.navbar-item:not(:first-child) > a.navbar-item,
      & > a.navbar-item:not(:first-child) {
        &:before {
          position: absolute;
          content: "";
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          width: calc(100% - 2.5rem);
          transform: translateX(-50%);
          top: 0;
          left: 50%;
        }
      }
    }
    a.navbar-item {
      @include tablet {
        width: 100%;
      }
      margin: 0;
      box-sizing: border-box;
    }
    & > a.navbar-item {
      padding: 1rem 1.25rem 1rem 1.25rem;
    }
    & > div.navbar-item {
      padding: 0;

      & > a.navbar-item {
        padding: 1rem 2.25rem 1rem 1.25rem;

        @include touch {
          &.dropdown {
            display: inline-block;
          }
        }

        &:not(.is-arrowless)::after {
          transform: rotate(-135deg);
          right: 1.5rem;
        }

        &:hover::after {
          border-color: #ffffff;
        }
      }
    }
  }
}

.secondary-menu {
  display: flex;
  align-items: center;

  & > a {
    &.navbar-item {
      display: inline-flex;
    }

    & {
      padding: 0;

      & > span.fa-stack {
        &.fa-fb {
          & > svg.fa-stack-2x {
            color: #4267b2;
          }
          &:hover {
            & > svg.fa-stack-2x {
              color: #365899;
            }
          }
        }
        &.fa-yt {
          & > svg.fa-stack-2x {
            color: #e62117;
          }
          &:hover {
            & > svg.fa-stack-2x {
              color: #cc181e;
            }
          }
        }
        &.fa-ig {
          & > svg.fa-stack-2x > path {
            fill: url(#brand-gradient) #fd5949;
          }
        }
      }
    }

    & > span.button {
      margin: 0 0.75rem;
    }
  }
}

body.logged-in > .navbar {
  @media screen and (max-width: 600px) {
    position: sticky;
    margin-top: -$navbar-height;
  }

  @media screen and (min-width: 601px) and (max-width: 782px) {
    margin-top: 46px;
  }

  @media screen and (min-width: 783px) {
    margin-top: 32px;
  }
}
