#newsletter-input {
    display: flex;
    align-items: stretch;
    border-width: 0;
  
    & > input[type="email"] {
      width: 100%;
      font-family: "Lato", sans-serif;
      color: #444;
      padding: 16px 18px;
      background-color: #fff !important;
      font-size: 1rem;
      border: 1px solid #ddd !important;
      border-radius: 3px 0 0 3px;
      border-right: 0 !important;
      outline-color: transparent !important;
  
      &:focus {
        background: #fff !important;
        outline: none;
      }
    }
  
    & > input[type="submit"] {
      flex-shrink: 0;
      font-family: "Lato", sans-serif;
      padding: 0 18px;
      background-color: #1abc9c;
      color: white;
      border-width: 0;
      border-radius: 0 3px 3px 0;
      font-size: 0.8rem;
      text-transform: uppercase;
      outline-color: transparent;
      cursor: pointer;
  
      &:hover {
        background-color: #089D80;
      }
    }
}
  
.mc4wp-response {
    margin-top: 5px;
}
  