.post-nav {
  display: flex;
  justify-content: space-between;
	font-size: 1rem;
  box-sizing: border-box;
  padding: 0.75rem 0.5rem;
  margin: 1.5rem 0 0 0;
  border-top: 4px solid #EEE;
	border-bottom: 4px solid #EEE;

  & > a {
    display: inline-block;
    max-width: 50%;
  	color: #666;

    & > h5 {
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	font-size: 0.75rem;
    	color: #999;
    	margin-bottom: 0.375rem;
    	font-weight: 700;
    }

    &.post-nav-newer,
    &.post-nav-newer > h5 {
      text-align: right;
    }

    &:hover {
      color: $link;
    }
  }

  @include until(576px) {
    display: block;

    & > a {
      display: block;
      max-width: 100%;

      &.post-nav-newer {
        border-top: 1px solid #EEE;
        margin-top: 0.5rem;
        padding-top: 0.5rem;
      }

      &.post-nav-newer,
      &.post-nav-newer > h5 {
        text-align: left;
      }
    }
  }
}

.archive-nav {
  margin-top: 3rem;
}
