.post-preview .post-meta-bottom {
	margin-top: 1rem;
}

.single-post .post-meta-bottom {
	margin-top: 2rem;
}

.post-terms > a.tag {
	display: inline-flex;
	align-items: center;
	background-color: #fff;
	color: $link;
	font-size: 0.75rem;
	line-height: 1.5;
	white-space: nowrap;
	border: 1px solid $link;
	border-radius: 0.25rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0.15rem 0;
	padding: 0.125rem 0.5rem;

	&:not(:last-child) {
		margin-right: 0.25rem;
	}

	&:hover {
		background-color: $link;
		color: #fff;
	}
}
