.wp-block-search {
	&__inside-wrapper {
		display: flex;
		align-items: stretch;
		padding: 0;
		border: none;
	}

	&__input {
		font-family: "Lato", sans-serif;
		color: #444;
		padding: 16px 18px;
		background-color: #fff !important;
		font-size: 1rem;
		border: 1px solid #ddd !important;
		border-right-color: rgb(221, 221, 221);
		border-right-style: solid;
		border-right-width: 1px;
		border-radius: 3px 0 0 3px;
		border-right: 0 !important;
	}

	&__button {
		flex-shrink: 0;
		font-family: "Lato", sans-serif;
		padding: 0 18px;
		background-color: #1abc9c;
		color: white;
		border-width: 0;
		border-radius: 0 3px 3px 0;
		font-size: 0.8rem;
		text-transform: uppercase;
		outline-color: transparent;
		cursor: pointer;
		margin: 0;

		&:hover {
			background-color: #089D80 !important;
		  }
	}
}
