@import "bulma";
@import "table";
@import "hemingway";
@import "navbar";
@import "header";
@import "plugins/events-calendar";
@import "searchform";
@import "post";
@import "pagination";
@import "banners";
@import "newsletter";
@import "footer";
@import "members";
@import "plugins/awsm-team-pro";
@import 'critical';
@import 'plugins/gdpr-cookie-compliance';
@import 'plugins/kadence';

.course-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0.75rem 0;

  @include mobile {
    grid-template-columns: 1fr;
  }

  @include tablet-only {
    grid-template-columns: 1fr 1fr;
  }
}

.eihe-title {
  text-align: center;
}

.fb_iframe_widget {
  margin: 0 auto 1em auto;
}

figure.wp-block-embed-youtube {
  div.lyte-wrapper {
    width: 100% !important;
    margin: 0 !important;
  }

  div.lL {
    display: none !important;
  }

  figcaption {
    display: none;
  }
}

.leaflet-container {
  width: 100% !important;
}

.leaflet-popup-content {
  margin-bottom: 13px !important;
}
